.homeContainer {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.leftColumn {
    flex: 1 1 300px;
    padding-right: 2rem;
}

.nextLogo {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #555;
}

.description {
    color: #888;
    margin-top: 0.5rem;
}



.centerColumn {
    flex: 1 1 400px;
}