.footer {
    background-color: #eaddcf;
    /* Fondo beige */
    color: #333;
    padding: 0;
    margin-top: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 4rem;
}

/* Sección enlaces */
.infoSection {
    flex: 1;
}

.infoSection h3 {
    background-color: #9b9ae6;
    /* Título estilo etiqueta */
    display: inline-block;
    color: white;
    padding: 5px 10px;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.infoSection ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.infoSection li {
    margin-bottom: 0.5rem;
    color: white;
}

.infoSection li {
    color: white;
    font-weight: 500;
}

/* Caja de contacto */
.contactSection {
    background-color: #9b9ae6;
    color: white;
    padding: 1.5rem;
    flex: 1;
    margin: 0 2rem;
    max-width: 400px;
}

.contactSection h3 {
    margin-top: 0;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.contactSection p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    line-height: 1.4;
}

.socialLogos {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}

/* Créditos */
.creditSection {
    align-self: flex-end;
}

.creditSection p {
    background-color: #9b9ae6;
    color: white;
    padding: 5px 15px;
    margin: 0;
    font-size: 1.1rem;
}