.header {
    width: 100%;
    height: 300px;
    background-image: url('/header-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem 3rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titleContainer h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: normal;
    color: #444;
    font-family: serif;
}

.titleContainer p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 5px;
}